body {
  padding-top: 126px;
  background-color: #000;
  background-image: url("../images/fans-black.jpg");
  background-size: cover;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

h1 {
  margin: 10px 0px;
  font-family: "Roboto Condensed", sans-serif;
  color: #2d3338;
  font-size: 69px;
  line-height: 54px;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}

h2 {
  margin: 0px 0px 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  text-shadow: none;
}

h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}

.button {
  display: block;
  width: 100%;
  height: 54px;
  margin-left: -1px;
  padding: 4px 29px;
  border: 3px solid #fff;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.subtitle {
  padding-bottom: 67px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 31px;
  line-height: 35px;
  font-weight: 400;
  text-shadow: none;
}

.field {
  height: 54px;
  margin-bottom: 19px;
  padding-right: 20px;
  padding-left: 20px;
  border: 0px solid #000;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: #262c46;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.field:focus {
  box-shadow: inset 0 0 0 2px #00caf2;
}

.sign-up-form {
  display: block;
  width: 415px;
  margin: 35px auto 66px;
}

.social-widget {
  width: 100px;
  float: left;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-widget.full-opacity {
  opacity: 1;
}

.social-widget-wrapper {
  display: block;
  width: 223px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
}

.social-widget-wrapper.thank-you {
  display: block;
  width: 216px;
  margin-top: 13px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
}

.success-message {
  padding: 20px;
  border-radius: 2px;
  background-color: #737373;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.spread-word {
  margin-top: 12px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: none;
}

.error-message {
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #5c3245;
}

.content-wrapper {
  display: inline-block;
  width: 60%;
}

.header-section {
  height: 100%;
  padding-top: 104px;
  background-color: #e0ddd7;
  text-align: center;
}

.footer-section {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 38px;
  padding-bottom: 34px;
  background-color: rgba(0, 0, 0, 0.18);
  color: #7e7c87;
}

.copyright {
  color: hsla(0, 0%, 100%, 0.52);
  text-align: left;
}

.bars-wrapper {
  height: 7px;
  background-color: #1abc9c;
}

.bar {
  width: 14.285%;
  height: 7px;
  float: left;
  background-color: #1abc9c;
}

.bar._2 {
  background-color: #f2ca27;
}

.bar._3 {
  background-color: #e67e22;
}

.bar._4 {
  background-color: #16a085;
}

.bar._5 {
  background-color: #2980b9;
}

.bar._6 {
  background-color: #e74c3c;
}

.bar._7 {
  background-color: #a366bc;
}

.container {
  padding-right: 127px;
  padding-left: 127px;
}

.image-crop {
  overflow: hidden;
  height: 260px;
}

.social-section {
  padding-top: 58px;
  padding-bottom: 58px;
  text-align: center;
}

.share-btn {
  display: inline-block;
  width: 61px;
  margin-right: 14px;
  margin-left: 14px;
}

.share-wrapper {
  margin-top: 32px;
}

.refer {
  color: hsla(0, 0%, 100%, 0.59);
}

.align-right {
  text-align: right;
}

.social-btn {
  margin-left: 17px;
  opacity: 0.44;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social-btn:hover {
  opacity: 1;
}

.logo {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 19px;
  margin-left: auto;
  padding: 21px;
  border: 8px solid #fff;
  color: #fff;
  font-weight: 700;
  letter-spacing: 8px;
  text-shadow: none;
}

.about {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.join {
  display: block;
  width: 40%;
  margin-top: -12px;
  margin-bottom: 15px;
  float: left;
  font-size: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: none;
}

.beta-line {
  width: 30%;
  height: 1px;
  float: left;
  background-color: hsla(0, 0%, 100%, 0.36);
}

.body {
  height: 100%;
  padding-top: 0px;
  background-color: transparent;
  background-image: none;
}

.main-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.panel-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 174, 0, 0.48);
  background-image: url("../images/sbbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  text-decoration: none;
}

.div-block-2 {
  width: 50%;
  background-color: rgba(141, 55, 55, 0.65);
}

.banner-image {
  max-height: 400px;
  max-width: 400px;
}

.panel-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 34, 0, 0.48);
  background-image: url("../images/shbg.jpg");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
}

.head-section {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.foot-section {
  position: relative;
  z-index: 9;
  height: 60px;
  margin-top: 0px;
  padding-right: 0px;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 120px;
  margin-bottom: 0px;
  padding-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  border-radius: 4px;
  background-color: transparent;
  text-decoration: none;
}

.text-block {
  color: #000;
  text-decoration: none;
}

.nav-link-text-right {
  font-family: "A love of thunder", sans-serif;
  color: #fff;
  font-size: 20px;
}

.logo-image {
  width: 100px;
  min-width: 30px;
}

.nav-link-text-left {
  padding-right: 10px;
  padding-left: 10px;
  font-family: "A love of thunder", sans-serif;
  color: #000;
  font-size: 18px;
}

.nav-logo {
  display: none;
  min-width: 30px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: transparent;
  text-decoration: none;
}

.nav-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  max-width: none;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner-heading {
  padding-top: 0px;
  padding-right: 15px;
  padding-left: 15px;
  font-family: "A love of thunder", sans-serif;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

.banner-heading_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #000;
  text-decoration: none;
}

.panel-content-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
}

.panel-content-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.nav-right {
  position: relative;
  left: auto;
  top: 0%;
  right: -20%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image {
  width: 60px;
}

.dropdown-mobile {
  display: none;
}

.mobile-button-link {
  display: none;
}

.phone-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.phone-image {
  display: block;
  margin-right: 8px;
  text-align: center;
}

.navigation {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  min-height: 40px;
  padding: 0px 5%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-bottom: 1px none hsla(0, 0%, 100%, 0.08);
  background-color: transparent;
}

.logo-image-2 {
  width: 200px;
}

.phone-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #546681;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.navigation-block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-block-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 35px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navigation-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  max-width: 150px;
  min-width: 75px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #546681;
  font-size: 16px;
  text-decoration: none;
}

.navigation-link:hover {
  color: #484dff;
}

.navigation-text {
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "A love of thunder", sans-serif;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.link-block {
  text-decoration: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.nav-brand {
  width: 100px;
  margin-top: 30px;
}

.navigation-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 70px;
  max-width: 150px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 19px 0px 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #546681;
  font-size: 16px;
  text-decoration: none;
}

.navigation-brand:hover {
  color: #484dff;
}

.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/banner2.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-content {
  width: 50%;
  height: 40%;
}

.image-2 {
  margin-top: 46px;
}

.navigation-link-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  max-width: 150px;
  min-width: 75px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #546680;
  font-size: 16px;
  text-decoration: none;
}

.navigation-link-left:hover {
  color: #484dff;
}

.navigation-text-left {
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "A love of thunder", sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.main-section-sb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .subtitle {
    font-size: 29px;
    text-shadow: none;
  }
  .content-wrapper {
    width: 81%;
  }
  .container {
    padding-right: 57px;
    padding-left: 57px;
  }
  .social-btn {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .social-btn:hover {
    opacity: 0.8;
  }
  .join {
    width: 50%;
    font-size: 21px;
    text-shadow: none;
  }
  .beta-line {
    width: 25%;
  }
  .banner-image {
    max-width: 200px;
  }
  .dropdown-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 15px;
  }
  .dropdown-toggle {
    padding: 0px;
  }
  .mobile-button-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 55px;
    height: 55px;
    padding: 17px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.39);
  }
  .mobiel-dropdown {
    right: 10%;
  }
  .mobiel-dropdown.w--open {
    min-width: 270px;
    margin-top: 74px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 3px 0 rgba(84, 102, 129, 0.13);
  }
  .dropdown-link {
    width: 100%;
    min-width: 170px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    color: #3b4c5b;
    font-size: 16px;
  }
  .dropdown-link:hover {
    background-color: rgba(115, 167, 213, 0.09);
  }
  .dropdown-link.w--current {
    color: #ff6f20;
  }
  .navigation-block-right {
    width: 100%;
  }
  .navigation-link-wrap {
    display: none;
  }
  .container-navigation {
    position: relative;
    z-index: 99;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 65px;
  }
  .subtitle {
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 43px;
    text-shadow: none;
  }
  .sign-up-form {
    margin-bottom: 64px;
  }
  .content-wrapper {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }
  .header-section {
    padding-top: 37px;
  }
  .footer-section {
    position: static;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: rgba(0, 0, 0, 0.49);
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .social-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .logo {
    text-shadow: none;
  }
  .join {
    text-shadow: none;
  }
  .banner-heading {
    font-size: 20px;
  }
  .phone-wrap {
    display: none;
  }
  .navigation-link-wrap {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 30px;
    line-height: 31px;
    text-shadow: none;
  }
  p {
    font-size: 20px;
    text-shadow: none;
  }
  .button {
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .subtitle {
    padding-bottom: 36px;
    font-size: 22px;
    line-height: 26px;
    text-shadow: none;
  }
  .field {
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
  }
  .sign-up-form {
    width: 100%;
    margin-top: 22px;
  }
  .social-widget {
    width: 96px;
  }
  .social-widget-wrapper {
    display: block;
    width: 221px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
  }
  .copyright {
    margin-bottom: 16px;
    text-align: center;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .image-crop {
    height: auto;
    margin-bottom: 40px;
  }
  .social-section {
    padding-right: 14px;
    padding-left: 14px;
  }
  .align-right {
    text-align: center;
  }
  .social-btn {
    margin-right: 17px;
  }
  .logo {
    font-size: 43px;
    text-shadow: none;
  }
  .join {
    width: 75%;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 4px;
    text-shadow: none;
  }
  .beta-line {
    width: 12%;
  }
  .main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .panel-right {
    width: 100%;
    height: 50%;
  }
  .banner-image {
    max-width: 200px;
  }
  .panel-left {
    width: 100%;
    height: 50%;
  }
  .head-section {
    overflow: hidden;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .nav {
    display: none;
    overflow: hidden;
    margin-bottom: -120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .nav-logo {
    display: block;
  }
  .nav-block {
    overflow: hidden;
    max-width: 100%;
  }
  .banner-heading {
    line-height: 30px;
  }
  .banner-heading_block {
    max-width: 250px;
  }
  .nav-right {
    top: -13%;
    right: -35%;
  }
  .image {
    width: 40px;
  }
  .mobile-button-link {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .mobiel-dropdown.w--open {
    background-color: #1f1f1f;
  }
  .dropdown-link {
    font-family: "A love of thunder", sans-serif;
    color: #f7f7f7;
  }
  .phone-wrap {
    display: none;
  }
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
  .main-section-sb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@font-face {
  font-family: "A love of thunder";
  src: url("../fonts/A-Love-of-Thunder.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
